# Default ignored files
/Local Storage/
/Crashpad/
/Session Storage/
/CachedData/
/GPUCache/
/blob_storage/
/Dictionaries/
/Code Cache/
/Cache/
/Backups/
/CachedProfilesData/
/logs/
/User/
/Preferences

/shelf/
/workspace.xml
*__pycache__*
build/
.idea/
/.pytest_cache/
/.vscode/

*.sva
*.out
*.log
*.dot
*.txt
*.svg
*.png

/Cookies
/Cookies-journal
/languagepacks.json
/machineid
/Network Persistent State
/TransportSecurity
/temp
*.DS_Store
*.github/
